.slider-container {
    background-color: black;
    padding: 3rem;
}

.slider-content {
    min-width: 320px;
}

.slider-wrapper {
    overflow: hidden;
    height: 70rem;
    margin: 0 auto;
}

.slider-wrapper__items {
    height: 100%;
    display: flex;
}

.slider-wrapper__item {
    min-height: 100%;
    width: 0;
    opacity: 0;
    transition: all 0.5s;

}

.slider-wrapper__item img {
    width: 100%;
    margin-bottom: 2rem;
}

.slider-wrapper__item p {
    color: #fff;
    font-size: 3rem;
}

.slider-control {
    padding-top: 1rem;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.slider-control label {
    width: 3rem;
    height: 3rem;
    margin-top: -5rem;
    width: 2rem;
    height: 2rem;
    background-color: #7EAAE8;
    border: 0.2rem solid #7EAAE8;
    border-radius: 2.5rem;
}

#slide0:checked~.slider-control>label:nth-child(1),
#slide1:checked~.slider-control>label:nth-child(2),
#slide2:checked~.slider-control>label:nth-child(3),
#slide3:checked~.slider-control>label:nth-child(4) {
    background-color: transparent;
}

.slider-control label:active {
    background-color: #7dce92;
    border: 0.2rem solid #7dce92;
    border-radius: 2.5rem;
}

#slide0:checked~.slider-wrapper>.slider-wrapper__items>.slider-wrapper__item.slide0,
#slide1:checked~.slider-wrapper>.slider-wrapper__items>.slider-wrapper__item.slide1,
#slide2:checked~.slider-wrapper>.slider-wrapper__items>.slider-wrapper__item.slide2,
#slide3:checked~.slider-wrapper>.slider-wrapper__items>.slider-wrapper__item.slide3 {
    width: 100%;
    opacity: 1;
}